<!-- <ul>
    <div *ngFor="let item of allNotifications">
        {{item.body}}
        <div>
            <button (click)="handleNotificationRead(item)">Mark as {{item?.isRead ? 'unread':'read'}}</button>
            <button (click)="handleNotificationArchive(item)">Mark as {{item?.isArchived ? 'unarchive':'archieve'}}</button>
           
        </div>
    </div>
</ul> -->

<app-card class="m-auto !w-[40rem] mt-4">
    
        <h4 class="text-white text-[22px]">Notification</h4>
        <h6 class="text-white text-[16px]">Earlier</h6>
        <app-user-card class="mt-2"></app-user-card>
    
</app-card>